@font-face {
  font-family: 'Mincho';
  src: local('Mincho'), url('./fonts/mincho.ttf') format('truetype');
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  overflow-x: auto;
  overflow-y: hidden;
}

body {
  font-family: 'Mincho', serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: rgb(125, 103, 90);
  font-weight: 300;
  background-color: rgb(247, 234, 218);
}

p {
  text-align: right;
}

img:hover::before {
  opacity: 1;
  visibility: visible;
}
